* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #00a6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #4e60bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    margin-top: 10px;
}

#lolCo {
    font-size: 14px;
    color: #ffffff;
}

#okCo {
    font-size: 14px;
    color: #ffffff;
}

